* {
	box-sizing: border-box;
}

:root {
	--foo: black;
}

::selection {
	color: white;
	background: rgb(0, 167, 153);
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	background-color: #ffffff;
	color: var(--foo);
}

html {
	scroll-behavior: smooth;
}

