@import url("palette.css");

.card-wrapper {
	padding-top: 65px;
	width: 95vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 15px;
	animation: appear 1s;
	padding-bottom: 105px;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translate3d(0,-300px,0);
	}
}

.question-card {
	background: var(--card-background);
	color: white;
	box-shadow: 4px 4px 16px rgba(21, 21, 21, 0.5);
	border-radius: 20px;
	width: 95vw;
	padding: 5px;
	overflow: hidden;
}

.checkbox-label {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.scales {
	display: none;
}

.bookmark-icon {
	fill: var(--bookmark);
	padding: 5px;
	height: 40px;
	width: 40px;
	position: absolute;
	cursor: pointer;
	transition: fill 0.3s;
	z-index: 0;
}

.bookmark-icon:hover {
	fill: var(--bookmark--hover);
}

input:checked + .bookmark-icon {
	fill: var(--bookmark--active);
	padding: 5px;
	height: 40px;
	width: 40px;
	position: absolute;
	cursor: pointer;
	animation: booky 1s;
	transform: translate3d(0, -15px, 0);
}

input:not(:checked) + .bookmark-icon {
	animation: booky-reverse 1s;
}

@keyframes booky {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, -20px, 0);
	}
}

@keyframes booky-reverse {
	0% {
		transform: translate3d(0, -20px, 0);
	}
	50% {
		transform: translate3d(0, 0px, 0);
	}
}

input:checked + .bookmark-icon:hover {
	fill: var(--bookmark--active);
	opacity: 0.8;
}

.question-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

.question {
	margin: 0;
	padding: 0px 0px 12px 10px;
	font-family: Bakbak One, sans-serif;
}

.span-q {
	color: var(--highlight-color);
}

.question-paragraph {
	margin: 0;
	text-align: center;
	font-weight: 500;
	padding: 0px 20px 18px 20px;
}

.question-mark {
	color: var(--maximum-green-yellow);
	animation: colorswitch 2s infinite;
}

@keyframes colorswitch {
	50% {
		color: var(--highlight-color);
	}
}

.answer-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.show-answer {
	font-size: 15px;
	padding: 12.5px;
	background-color: var(--card-button);
	border-radius: 4px;
	cursor: pointer;
	transition: border 0.3s, color 0.3s, padding 0.3s;
	animation: grow 1s;
	color: white;
	border: 1px solid transparent;
}

@keyframes grow {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	66% {
		transform: scale(1.1);
		border: 1px solid var(--card-button--hover);
	}
	82% {
		transform: scale(0.9);
	}
}

.show-answer:hover {
	border: 1px solid var(--card-button--hover);
	color: var(--card-button--hover);
	padding: 12.5px 30px 12.5px 30px;
}

.show-answer:active {
	background-color: var(--card-button);
	color: var(--card-button--active);
	border-color: var(--card-button--active);
}

.tag {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	background-color: var(--tags-background);
	padding: 6px 12px 6px 12px;
	color: var(--tags-text);
	border-radius: 4px;
	list-style: none;
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	list-style: none;
	gap: 10px;
}
