
/* * * * header 7 * * */


.patterns {
	height: 100vh;
}


svg text {
	font-family: Lora;
	letter-spacing: 10px;
	stroke: #f1c40f;
	font-size: 120px;
	font-weight: 500;
	stroke-width: 2;

	animation: textAnimate 5s infinite alternate;

}

@keyframes textAnimate {
	0% {
		stroke-dasharray: 0 50%;
		stroke-dashoffset:  20%;
		fill:#2ecc71;

	}

	100% {
		stroke-dasharray: 50% 0;
		stroke-dashoffstet: -20%;
		fill: hsla(189, 68%, 75%,0%);
	}

}

header {
	text-transform: uppercase;
	height: 160px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: white;
	position: sticky;
	z-index: 2;
	top: 10px;
	border-radius: 20px;
	box-shadow: 4px 4px 16px rgba(21, 21, 21, 0.5);
	width: 100%;
}
/*
.header7 {
	text-transform: uppercase;
	font-weight: bold;
	background-color: #2f2f2f;
	margin: 0;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	position: sticky;
	z-index: 2;

	top: 10px;
	border-radius: 15px;
	box-shadow: 0px 0px 10px;
	border: solid 1px #333333;
	width: 100%


}*/

.header2 {
	text-transform: uppercase;
	height: 160px;
	background: rgb(44, 44, 44);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: sticky;
	z-index: 0;
	top: 10px;
	width: 100%;
	box-shadow: 4px 4px 16px rgba(21, 21, 21, 0.5);
	border-radius: 20px;

}

.header3 {
	text-transform: uppercase;
	height: 160px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: white;
	position: sticky;
	z-index: 0;
	top: 10px;
	border-radius: 10px;
	box-shadow: 60px -16px black;
	border: solid 1px black;
	width: 100%;
}



/* header 4 * * * * */
.header4 {
	text-transform: uppercase;
	background-color: #F2F2F2;
	height: 160px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #A61C1C;
	position: sticky;
	z-index: 0;
	top: 10px;
	border-radius: 25px;
	box-shadow: 50px -16px 20px #F2A7A7;
	border: solid 1px #F2F2F2;
	width: 100%
}



/* Animation Header 4*/
.textwelle {
	animation: textwelle 30s;
}

@keyframes textwelle {
	0%{
		transform: scale(0.1);
		opacity: 0;
	}
	70% {
		transform: scale(1.25);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}

}



/* header 5 * * * */
.header5 {
	background-color: #010D00;
	height: 160px;
	text-shadow: 1px 1px 2px whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #049DD9;
	position: sticky;
	z-index: 0;
	top: 10px;
	border-radius: 25px;
	box-shadow: 50px -16px 20px #04ADBF;
	border: solid 1px #F2F2F2;
	width: 100%
}



/* * * * Cube Animation Header 5 * * */
.cube{
	margin: 0 auto;
	-webkit-animation: spin 20s  infinite;
	-moz-animation: spin 20s  infinite;
	animation: spin 20s  infinite;
}

#questions-block {
	position: absolute;
}

#questions-block {
	animation-name: slidein;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}



/* * * * header 6 * * */
.header6 {
	background-image: linear-gradient(grey 5%, black);
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	position: sticky;
	z-index: 0;
	top: 10px;
	border-radius: 15px;
	box-shadow: 50px -16px 20px #333333;
	border: solid 1px #333333;
	width: 100%
}


