.header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	background-color: var(--header-background);
	box-shadow: 0 0 5px;
	text-transform: uppercase;
	width: 100vw;
	height: 50px;
}

.header-text {
	font-family: "Bakbak One", "serif";
	stroke: var(--header-text);
	font-size: 24px;
	font-weight: 800;
	stroke-width: 0.25;
	animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
	0% {
		stroke-dasharray: 0 50%;
		stroke-dashoffset:  20%;
		fill: var(--header-animation);
	}
	100% {
		stroke-dasharray: 50% 0;
		stroke-dashoffset: -20%;
		fill: var(--header-animation);
	}
}

