:root {
	/* Palette */
	--dark-coral: #2d3039;
	--black-coral: #393d49;
	--lighter-coral: #4b5060;
	--dark-blue-gray: #575d90ff;
	--blue-gradient: linear-gradient(0deg, rgba(45,49,82,1) 0%, rgba(87,93,144,1) 100%);
	--asparagus: #84a07cff;
	--june-bud: #c3d350ff;
	--maximum-green-yellow: #e6f14aff;
	--light-red: #f14a4a;

	/* Global Colors */
	--background: var(--blue-gradient);
	--highlight-color: var(--light-red);
	--selection: var(--maximum-green-yellow);

	/* Header */
	--header-background: var(--black-coral);
	--header-text: var(--june-bud);
	--header-animation: var(--lighter-coral);

	/* Card Colors */
	--card-button: var(--lighter-coral);
	--card-button--hover: var(--maximum-green-yellow);
	--card-button--active: var(--asparagus);

	--bookmark: white;
	--bookmark--hover: lightgrey;
	--bookmark--active: var(--light-red);

	--tags-background: var(--june-bud);
	--tags-text: black;

	--card-background: var(--black-coral);

	/* Footer Colors*/
	--footer-menu: var(--dark-coral);
	--footer-menu-button: var(--black-coral);
	--footer-menu-item: var(--maximum-green-yellow);
}
