/**
* Minimal Reset
*/
body {
	margin: 0;
	background: var(--background), rgb(45,49,82);;
	font-family: Roboto, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::selection {
	background-color: var(--selection);
	color: black;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
}

